#about header,
#about-content {
  height: 100vh;
}

#about-header,
#about-content-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  display: flex;
  font-family: "PT Sans", sans-serif;
  justify-content: center;
}

#about-content-container {
  flex-wrap: wrap;
}

#about-header {
  font-size: 3.5em;
  flex-direction: column;
  text-align: center;
  color: white;
}

.about-header-content > a:link,
.about-header-content > a:visited {
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.3s;
}

.about-header-content > a:hover {
  color: white;
}

.about-content {
  color: white;
  margin: 0 15px 15px 15px;
}

.profile-content {
  padding: 12px 15px;
}
.profile-content:last-child {
  margin-top: 10px;
}

#profile-sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile-sub-column {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
}

.profile-sub-content {
  padding: 3px 0;
}

.profile-sub-content a:link,
.profile-sub-content a:visited {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: 0.2s;
}

.profile-sub-content a:hover {
  color: white;
}

#about-summary,
.profile-content {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

#about-summary {
  padding: 15px;
}

@media only screen and (min-width: 1025px) {
  #profile {
    width: 50%;
  }
  #about-content-container {
    flex-wrap: nowrap;
  }
  #about-content {
    margin: 0 200px;
  }
  .about-content {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  #about-header {
    font-size: 6em;
  }
  #about-content {
    margin: 0 100px;
  }
}
