html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/** - Font Family - **/
nav,
footer {
  font-family: 'PT sans', sans-serif;
}

/** - START - Navbar Styling **/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: inline-flex;
  z-index: 1;
}

#nav-button-right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

#right-nav-link {
  display: none;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#right-nav-link .nav-link {
  text-align: left;
}

button.nav-link,
#nav-toggle {
  margin: 16px 14px;
  text-decoration: none;
  color: black;
  font-size: 16pt;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

button.nav-link:hover,
#nav-toggle {
  cursor: pointer;
}
#nav-toggle {
  display: block;
}

@media only screen and (min-width: 1024px) {
  #right-nav-link {
    display: block;
  }
  #nav-toggle {
    display: none;
  }
}
/** - END - **/

/** - START - Footer Styling **/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18pt;
  bottom: 0;
  width: 100%;
}

#footer-link-container {
  padding: 8px;
}

a.footer-link {
  text-decoration: none;
  color: black;
  margin: 10pt 14pt;
}

#footer-osu {
  font-size: 16pt;
}
/** - END - **/

/** - START - Body Styling **/
.active {
  display: block !important;
}
.content {
  display: none;
}
.sticky {
  position: fixed;
}
.textShadow {
  text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.5);
}

.drop {
  display: flex !important;
  position: absolute;
  top: 59px;
  width: 100%;
  z-index: 1;
}
/** - END - **/
