html, body {
  margin: 0;
  padding: 0;
}

/** - Font Family - **/
nav, footer {
  font-family: 'PT sans', sans-serif;
}

/** - START - Navbar Styling **/
nav {
  position: fixed;
  width: 100%;
  display: inline-flex;
  background-color: white;
}

#nav-button-right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

button.nav-link {
  margin: 16px 14px;
  text-decoration: none;
  color: black;
  font-size: 16pt;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0)
}

button.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
/** - END - **/

/** - START - Footer Styling **/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18pt;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: white;
}

a.footer-link {
  text-decoration: none;
  color: black;
  margin: 10pt 14pt;  
}

#footer-osu { font-size: 16pt; }
/** - END - **/

/** - START - Body Styling **/
.active { display: block !important; }
.content { display: none; }
.sticky { position: fixed; }
/** - END - **/